*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
header{
    width:100%;
    height:100vh;
    background: linear-gradient(90deg,rgb(22, 27, 41),rgba(109, 115, 124, 0)),url('back.jpg');
    background-size:cover;
    background-position:center;
}
nav{
    width:25%;
    height:100vh;
    background-color:transparent;
    display:flex;
    flex-direction:column;
    padding:20px 30px;
}
.logo{
    font-size:3em;
    color:#fff;
    letter-spacing: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.menu a{
    text-decoration:none;
    color:#fff;
    display:flex;
    padding:10px 20px;
    margin:20px auto;
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition:0.4s ease;
}
.menu a:first-child{
    background-color:#474d5c;
}
.menu a:hover{
    background-color:#474d5c;
}
.menu{
    padding-top:100px;
}
.menu i{
    margin:0 20px;
}
.s-icon{
    position:absolute;
    bottom:8%;

}
.s-icon i{
    color:#fff;
    font-size:16px;
    margin:0 10px;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
    box-shadow:2px 1px 3px grey;
    transition:0.5s ease;
}
.s-icon i:nth-child(1){
    background-color: #3b5998;

}
.s-icon i:nth-child(2){
    background-color: #00acee;

}
.s-icon i:nth-child(3){
    background-color: #e84393;

}
.s-icon i:nth-child(4){
    background-color: #128c7e;

}
/* .s-icon i:nth-child(2){
    background-color: #00acee;;

} */
.s-icon i:hover{
      transform:translateY(-20px);
}





@media (max-width:800px){
    .s-icon{
        display: flex;
         /* margin-left:50px; */
    }
    header{
        width:100%;
    }
    .logo{
        /* display:inline-block;
        align-items:center;
        text-align:center; */
       
    }
}